.item-post{
    width: 700px ;
    height:auto ; 
    border-radius: 12px;
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border: 2px solid #ccc; 
    /* border:2px solid #000 */
}
.header-post{
    padding-top: 20px;
    padding-left: 20px;
    border: none;
    /* border-bottom: 2px solid #ccc; */
    display: flex;
    justify-content: space-between;
}
.body-post{
    padding: 20px;
    word-break: break-word;
}
.comment{
     border-top: 2px solid #ccc;
}